<div>
  <h3>Create an account</h3>
  <form class="ui form" [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
    <app-input
      label="Username"
      [control]="signupForm.get('username')"
      type="text"
    ></app-input>
    <div class="margin"></div>
    <app-input
      label="Password"
      [control]="signupForm.get('password')"
      type="password"
    ></app-input>
    <div class="margin"></div>
    <app-input
      label="Password Confirmation"
      [control]="signupForm.get('passwordConf')"
      type="password"
    ></app-input>
    <div
      class="ui pointing red basic label"
      *ngIf="
        signupForm.get('password').touched &&
        signupForm.get('passwordConf').touched &&
        signupForm.errors
      "
    >
      <p *ngIf="signupForm.errors.passwordsDontMatch">Passwords do not match</p>
      <p *ngIf="signupForm.errors.submitError">
        Failed to signup for unknown reasons
      </p>
    </div>
    <div class="margin"></div>
    <div>
      <button class="ui submit button primary">
        Sign up
      </button>
    </div>
  </form>
</div>

<!-- {{ signupForm.controls.username.errors | json }}
{{ signupForm.controls.password.errors | json }}
{{ signupForm.controls.passwordConf.errors | json }}
{{ signupForm.errors | json }} -->
