<form (ngSubmit)="onSubmit()" [formGroup]="emailForm" class="ui form">
  <app-input
    label="To"
    type="email"
    [control]="emailForm.get('to')"
  ></app-input>
  <div class="margin"></div>
  <app-input
    label="From"
    type="email"
    [control]="emailForm.get('from')"
  ></app-input>
  <div class="margin"></div>
  <app-input
    label="Subject"
    type="text"
    [control]="emailForm.get('subject')"
  ></app-input>
  <div class="margin"></div>
  <app-input
    label="Content"
    type="text"
    controlType="textarea"
    [control]="emailForm.get('text')"
  ></app-input>
  <div class="margin"></div>
  <button class="ui button primary" type="submit">Send</button>
</form>
