<div class="ui container" style="margin-top: 2rem;">
  <div class="ui secondary pointer menu">
    <a
      routerLink="/"
      routerLinkActive="active"
      class="item"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/elements" routerLinkActive="active" class="item"
      >Elements</a
    >
    <a routerLink="/collections" routerLinkActive="active" class="item"
      >Collections</a
    >
    <a routerLink="/views" routerLinkActive="active" class="item">Views</a>
    <a routerLink="/modules" routerLinkActive="active" class="item">Modules</a>
  </div>
  <router-outlet></router-outlet>
</div>
