<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="payee-name">Payee Name</label>
      <input
        id="payee-name-input"
        type="text"
        class="form-control"
        (input)="onNameChange($event.target.value)"
      />
    </div>
    <div class="col-sm-6">
      <label for=""> <b>Payee Name</b> </label>
      <div id="converted-payee-name">
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="payment-date">Payment Date</label>
      <input
        id="date-input"
        type="date"
        class="form-control"
        (input)="onDateChange($event.target.value)"
      />
    </div>
    <div class="col-sm-6">
      <label for=""> <b>Payment Date</b> </label>
      <div id="converted-date">
        {{ date | date: "d MMMM, yyyy" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label for="payment-amount">Amount</label>
      <input
        id="amount-input"
        type="text"
        class="form-control"
        (input)="onAmountChange($event.target.value)"
      />
    </div>
    <div class="col-sm-6">
      <label for=""> <b>Amount</b> </label>
      <div id="converted-amount">
        {{ amount | currency: "AUD" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <label>Miles</label>
      <input
        id="miles-input"
        type="text"
        class="form-control"
        (input)="onMilesChange($event.target.value)"
      />
    </div>
    <div class="col-sm-6">
      <label for=""> <b>Kilometers</b> </label>
      <div id="converted-miles">{{ miles | convert: 2 }}</div>
    </div>
  </div>

  <div>
    <label for="">
      <b>JSON format</b>
    </label>
    <div id="converted-json">
      {{ car | json }}
    </div>
  </div>
</div>
