<h1>Password Generator</h1>

<div>
  <label for="">Enter length</label>
  <input type="text" />
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" (change)="handleChangeUseLetters()" />
</div>

<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" (change)="handleChangeUseNumbers()" />
</div>

<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" (change)="handleChangeUseSymbols()" />
</div>

<div>
  <button (click)="handleGeneratePassword()">Generate</button>
</div>

<div>
  <label for="">Your password is</label>
  <input [value]="password" />
</div>
