<div class="container">
  <div
    class="columns is-centered"
    style="margin-top: 5%; margin-left: 2%; margin-right: 2%;"
  >
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label for="">Enter length({{ MIN_LENGTH }}- {{ MAX_LENGTH }})</label>
        <input type="text" class="input" id="length-input" (input)="handleLengthInput($event)" />
      </div>

      <div class="field">
        <div class="control">
          <label for="use-letters" class="checkbox"
            >Use Letters
            <input
              id="use-letters"
              type="checkbox"
              (change)="handleChangeUseLetters()"
          /></label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="use-numbers" class="checkbox"
            >Use Numbers
            <input
              id="use-numbers"
              type="checkbox"
              (change)="handleChangeUseNumbers()"
          /></label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="use-symbols" class="checkbox"
            >Use Symbols
            <input
              id="use-symbols"
              type="checkbox"
              (change)="handleChangeUseSymbols()"
          /></label>
        </div>
      </div>

      <div>
        <button
          id="generate-password-btn"
          class="button is-link is-fullwidth"
          [disabled]="!length || !(useLetters || useNumbers || useSymbols)"
          (click)="handleGeneratePassword()"
        >
          Generate
        </button>
      </div>
      <br />
      <div id="password-container" *ngIf="password">
        <label for="">Your password is</label>
        <input id="password-generated" class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
